# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Playwright
playwright/.cache/

# Session
session.json

# Database
*.db
*.sqlite3

# VSCode
.vscode/

# Logs
*.log

division_records.json
division_records.progress.json

# Claude
CLAUDE.md