# FASTAPI STACK
fastapi>=0.110.0
uvicorn[standard]>=0.27.0

# SCRAPING ENGINE
playwright>=1.49.0
crawl4ai==0.4.24

# DATABASE
sqlalchemy>=2.0.0
aiosqlite>=0.20.0

# ENV CONFIG
python-dotenv>=1.0.0

# MODELS / VALIDATION
pydantic>=2.5.0

# CLI TOOLS (si usas modo consola scraper)
questionary>=2.0.0
readchar>=4.0.0
prompt_toolkit>=3.0.40